[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
tensorflow = "*"
numpy = "*"
pyyaml = "*"
tqdm = "*"
tableprint = "*"
comet-ml = "*"
petname = "*"
pika = "*"
coloredlogs = "*"
matplotlib = "*"
python-json-logger = "*"
floyd-cli = "*"

[requires]
python_version = "3.6"
