[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

tensorflow = "*"
numpy = "*"
pyyaml = "*"
tqdm = "*"
tableprint = "*"
colored = "*"
coloredlogs = "*"
comet-ml = "*"
networkx = "*"


[requires]

python_version = "3.6"
